
<!DOCTYPE html>
<html>

<head>
    <title>Admin HeroEvolved</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-witdh, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../template/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../template/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">


</head>

<body>
    <section id="sidebar">
        <div class="sidebar-brand">
            <h2><i class="fa fa-desktop"></i> <span style="font-size: 25px;">Admin Home</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="listHero.html"><i class="fa fa-desktop"></i> <span>Dashboard</span></a></li>
                <li><a href="listHero.html"><i class="fa fa-users"></i> <span>Customers</span></a></li>
                <li><a href="listHero.html"><i class="fa fa-file"></i> <span>Projects</span></a></li>
                <li><a href="listHero.html"><i class="fa fa-file-pdf-o"></i> <span>ListHero</span></a></li>
                <li><a href="listHero.html"><i class="fa fa-money"></i> <span>Income</span></a></li>
                <li><a href="listHero.html"><i class="fa fa-user"></i> <span>Account</span></a></li>
                <li><a href="../../login.html"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </section>


    <Section id="main-content">


        <header>
            <div class="header-left">
                <h2 class="toggle-btn">
                    <i class="fa fa-bars"></i> Dashboard
                </h2>
            </div>
            <div class="header-left header-serach">
                <div class="serach-par">
                    <input class="search" type="text" placeholder="Search Here...">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="header-left header-profile">
                <img src="../../template/images/user.png" class="img-responsive" />
                <h3 style="font-size: 20px;">Admin Home</h3>
                <p>AdminVIP</p>
            </div>
            <div class="clear"></div>
        </header>
        <div class="clear"></div>
 


        <div class="main-content-info container">
            <div class="card">
                <h2 class="cus-num cus-h">130</h2>
                <p>Customers</p>
            </div>
            <div class="card">
                <h2 class="cus-num cus-pro">250</h2>
                <p>Projects</p>
            </div>
            <div class="card">
                <h2 class="cus-num cus-ord">155</h2>
                <p>Order</p>
            </div>
            <div class="card">
                <h2 class="cus-num cus-inc">100k</h2>
                <p>Income</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content-pro-par container">
            <div class="pro-table">
                <div class="recent-project">
                    <div class="rec-pro-h">
                        <h2>Recent Project</h2>
                    </div>
                    <div class="see-all">
                        <button>See all</button>
                    </div>
                    <div class="clear"></div>
                </div>
                <table style="width:100%">
                    <tr>
                        <th>Project Title</th>
                        <th>Department</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Web Development</td>
                        <td>Development Team</td>
                        <td><span class="rev-span"></span>Review</td>
                    </tr>
                    <tr>
                        <td>Ui/Ux Design</td>
                        <td>Ui Team</td>
                        <td><span class="progress-span"></span>In Progress</td>
                    </tr>
                    <tr>
                        <td>Web Development</td>
                        <td>Development Team</td>
                        <td><span class="rev-span"></span>Review</td>
                    </tr>
                    <tr>
                        <td>Web Development</td>
                        <td>Development Team</td>
                        <td><span class="rev-span"></span>Review</td>
                    </tr>
                    <tr>
                        <td>Ui/Ux Design</td>
                        <td>Ui Team</td>
                        <td><span class="progress-span"></span>In Progress</td>
                    </tr>
                    <tr>
                        <td>Ui/Ux Design</td>
                        <td>Ui Team</td>
                        <td><span class="progress-span"></span>In Progress</td>
                    </tr>
                    <tr>
                        <td>Ui/Ux Design</td>
                        <td>Ui Team</td>
                        <td><span class="progress-span"></span>In Progress</td>
                    </tr>
                    <tr>
                        <td>Ui/Ux Design</td>
                        <td>Ui Team</td>
                        <td><span class="progress-span"></span>In Progress</td>
                    </tr>
                    
                </table>
            </div>
            <div class="pro-cus">
                <div class="recent-project">
                    <div class="rec-pro-h">
                        <h2>All Customers</h2>
                    </div>
                    <div class="see-all">
                        <button>See all</button>
                    </div>
                    <div class="clear"></div>
                </div>
                <table style="width:100%">
                    <tr>
                        <th>Pic</th>
                        <th>Name</th>
                        <th>Contact</th>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Smith Jhon</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Jhon Doe</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Mr Lewerce</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Damin Roe</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Smith Jhon</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Jhon Doe</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Damin Roe</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Smith</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Smith</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Smith</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    <tr>
                        <td><img class="table-img" src="../../template/images/user.png"/></td>
                        <td>Mr Lewerce</td>
                        <td class="cnt-info-td"><a href="tel:9800121212"><i class="fa fa-phone"></i></a><a href="tel:9800121212"><i class="fa fa-envelope"></i></a><a href="tel:9800121212"><i class="fa fa-map-marker"></i></a></td>
                    </tr>
                    
                </table>
            </div>
            <div class="clear"></div>
        </div>
    </Section>
    <div class="clear"></div>




    <script type="text/javascript" src="../../template/js/jquery-3.6.0.js"></script>
    <!-- <script type="text/javascript" src="template/js/external.js"></script> -->
</body>

</html>
