

@keyframes star{
    0%{
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    50%{
        transform: translateY(350px) scale(0.8);
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: translateY(700px) scale(0);
        opacity: 0;
    }
}

@keyframes inRight{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}


@keyframes inLeft{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}

@keyframes outLeft{
    0%{
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
}

@keyframes outRight{
    0%{
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }
}


@keyframes jump{
    0%{
        transform:translate(0);
    }
    10%{
        transform:translateY(5px) scaleX(1.2) scaleY(0.8);
    }
    30%{
        transform:translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
    }
    50%{
        transform:translateY(0) scale(1) rotateZ(0);
    }
    55%{
        transform:translateY(0) scaleX(1.1) scaleY(0.9) rotateZ(0);
    }
    70%{
        transform:translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
    }
    80%{
        transform:translateY(0) scaleX(1) scaleY(1) rotateZ(0);
    }
    85%{
        transform:translateY(0) scaleX(1.05) scaleY(0.95) rotateZ(0);
    }
    100%{
        transform:translateY(0) scaleX(1) scaleY(1);
    }


}


@keyframes imageColor{
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

@keyframes rocket{
    0%,100%{
        transform: translate(0px,0px) rotate(-45deg);
    }
    50%{
        transform: translate(0px,10px) rotate(-45deg);
    }
}

@keyframes playGo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
