<li data-id="paypal" class="on">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/paypal_logo.jpg" alt="PayPal"></a>
</li>
<li data-id="skrill" class="">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/skrilllogo2015.jpg" alt="Skrill"></a>
</li>
<li data-id="adyen" class="">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/adyen_logo_20190610.jpg" alt="Adyen"></a>
</li>
<li data-id="razer">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/mol_logo2019.png" alt="Razer Gold"></a>
</li>
<li data-id="MGC" class="">
    <a href="javascript:;">
        <img src="https://hsimages.eudemonsonline.com/pay/method/mgc_logo2018.jpg" alt="MGC"></a>
</li>
<li data-id="codapay" class="">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/codapay-logo2019.jpg" alt="Codapay"></a>
</li>
<li data-id="paysafecard">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/paysafecard.jpg" alt="paysafecard"></a>
</li>
<li data-id="dlocal" class="">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/astropay_logo201705.jpg" alt="dLocal"></a>
</li>
<li data-id="paymentwall" class="">
    <a href="javascript:;">
        <img src="https://hsimages.eudemonsonline.com/pay/method/paymentwall-logo20210304.jpg" alt="Paymentwall"></a>

</li>
<li data-id="hitpoints" class="">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/hitpoints-logo.jpg" alt="hitpoints"></a>
</li>
<li data-id="boleto" class="">
    <a href="javascript:;">
        <img src="/GamePRO/template/images/store_files/boleto2020.png" alt="Boleto">
    </a>
</li>