

:root{
    --navHeight: calc(15 * 100vh /100);
    --minHeightLogo: calc(0.9 * var(--navHeight));
}


.navbar{
    position: relative;
    display: flex;
    width: 100%;
    height: var(--navHeight);
    min-height: 100px;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.navbar nav
{
    position: relative;
    display: flex;
    width: 90%;
    min-height: 60px;
    height: 60%;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.6);
}

.navbar nav .logo{
    position: absolute;
    left: -5%;
    top: -25%;
    /* width: 210px; */
    /* width: 20%; */
    height: var(--minHeightLogo);
    min-height: 89.234px;
    /* min-height: 105px; */
}

.logo img{
    width: 100%;
    height: 100%;
}


.navbar nav .clearfix{ 
    display: flex;
    margin-left: 15%;
    /* margin-left: 160px; */
    min-height: 46px;
    height: 70%;
    justify-content: space-between;
}
.navbar nav .clearfix li{
    position: relative;
    margin: 0 5px;
    width: 100px;
    list-style: none;
}

nav .clearfix a{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}


.navbar nav .clearfix li:hover{
    background: url("../../images/herolistnav.png");
}

nav ul li:hover .light{
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 180px #fff;
}



.sub-menu-1, .sub-menu-2{
    visibility: hidden;
    opacity: 0;
}  

.active:hover .sub-menu-1{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.active1:hover .sub-menu-2{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}


nav .clearfix .sub-menu-1{
    position: relative;
    left: 0;
    top: 0;
    top: 46px;
    width: 120px;
    transition: 0.5s;
}

.sub-menu-1 ul{
    display: grid;
    flex-direction: column;
    grid-template-rows: 30px 30px 30px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.navbar nav .clearfix .sub-menu-1 li{
    background: transparent;
    margin: 0;
    margin-left: 5px;
    border-bottom: 1px dotted #fff;
}

nav .clearfix .sub-menu-1 li:last-child{
    border: none;
    padding-bottom: -10px;
}

.sub-menu-1 li a{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.sub-menu-1 li a:hover{
    color: #6a7199;
}

.active1:hover .update{
    color: #6a7199;
}

.sub-menu-1 .active1 a{
    width: 125px;
}


.fa-angle-right{
    float: right;
    margin-top: 6px;
    visibility: hidden;
    opacity: 0;
}

.active1:hover .fa-angle-right{
    color: #fff;
    visibility: visible;
    opacity: 1;
    animation: angleRight 0.5s linear;
    transition: 0.5s;
}

@keyframes angleRight{
    0%{
        transform: translateX(-60px);
        color: #000;
    }
    50%{
        color: #555;
    }
    100%{
        transform: translateX(0px);
        color: #fff;
    }
}


nav .clearfix .sub-menu-2
{
    position: absolute;
    left: 120px;
    width: 100px;
    transition: 0.5s ease-in;
}

nav .clearfix .sub-menu-2 li{
    width: 80px;
}

.navbar nav .search{
    position: relative;
    margin: auto 2%;
    width: 250px;
    height: 30px;
}

.search input{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 45px;
    color: #fff;
    outline: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.search .fa-search{
    position: absolute;
    font-size: 20px;
    left: 4%;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    padding-right: 10px;
    border-right: 1px solid #fff;

}

.navbar .account{
    position: absolute;
    right: 2.5%;
    
}

.navbar .account .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.account .menu{
    position: absolute;
    top: 80px;
    right: -10px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.navbar .account:hover .menu{
    visibility: visible;
    opacity: 1;
}


.account .menu h3{
    padding: 20px 0;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    line-height: 1.2em;
    color: #555;
}

.account .menu ul li{
    display: flex;
    padding: 10px 0;
    list-style: none;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.account .menu img{
    max-width: 20px;
    opacity: 0.5;
    object-fit: contain;
    transition: 0.2s ease-in;
}

.account .menu li:hover img{
    opacity: 1;
}

.menu a{
    display: inline-block;
    width: 100%;
    color: #555;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.1s ease-in;
}

.menu li:hover a{
    color: #ff5d94;
}