

:root{
    --navHeight: calc(15 * 100vh /100);
    --minHeightLogo: calc(0.9 * var(--navHeight));
}

.wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-width: 1350px;
    max-width: 1920px;
    min-height: 661px;
    background-color: #0f0f0f;
    color: #fff;
}

.wrapper .square{
    position: absolute;
    background-color: #fff;
    animation: squareAnimate 5s linear infinite;
    z-index: 0;
}   

@keyframes squareAnimate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 0;
    }
    20%,90%{
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-500px) rotate(360deg);
        opacity: 0;
    }
}



.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-header .rain img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    animation: color-change 3s linear infinite;
}

.img-header .rain::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../images/rain1.png");
    z-index: 1;
    animation: rain 0.19s linear infinite;
}


@keyframes rain{
    0%{
        background-position: 0 0;
        opacity: 0.1;
    }
    100%{
        background-position: 1% 100%;
        opacity: 0.6;
    }

} 

@keyframes color-change{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}


/* Start event-info */
.event-wrapper a{
    text-decoration: none;
}

.event-wrapper{
    position: relative;
    display: flex;
    margin-top: -150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.event-wrapper .event-info{
    position: relative;
    width: 1350px;
    height: 408px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.event-info .mod{
    position: relative;
    height: 100%;
    background-color: #222;
}

.event-info .info-1{
    position: relative;
    width: 220px;
    overflow: hidden;
    transition: 1s linear;
}

.event-info .info-1 img{
    transition: 0.5s linear;
}

.event-info .info-1:hover {
    border: 1px solid rgb(243, 194, 88);
    transition: 1s all;
}

.event-info .info-1:hover img{
    transform: scale(1.1);
    transition: 1s all;
}

.event-info .info-2{
    display: grid;
    width: 690px;
    grid-template-rows: auto 48px;;
}

.event-info .info-2 .list-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.info-2 .list-img li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    opacity: 0;
    visibility: hidden; 
    transform: translateX(100%);
}
 
.info-2 .list-img li.active,
.info-2 .list-img li.temp{
    transition: 0.5s ease-in-out;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.info-2 .list-img img{
    object-fit: cover;    
    object-position: center;
}

.info-2 .list-text{
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    background-color: aliceblue;
}

.info-2 .list-text a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(34, 34, 34);
    transition: 0.5s all;
}

.list-text a.active{
    background-color: rgb(23, 23, 23, 0.8);
    color: rgb(243, 194, 88);
}

.event-info .info-3{
    display: grid;
    width: 410px;
    grid-template-rows: 60px auto 40px;
    background: rgb(23, 23, 23);
}

.info-3 .list-title{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-bottom: 1px solid #252525;
}

.info-3 .list-title a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.info-3 .list-title .active{
    color: #f3c258;
    border-bottom: 0.5px solid rgb(243, 194, 88);
}

.info-3 .list-tab,.info-3 .list-tab .tab-item{
    position: relative;
    width: 100%;
    height: 100%;

}

.info-3 .list-tab .tab-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.list-tab .tab-item.active{
    opacity: 1;
    visibility: visible;
}

.list-tab .tab-item.active .title-item{
    color: #f3c258;
}

.list-tab .tab-item .title-item{
    display: flex;
    margin: 0 50px;
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #252525;
}

.list-tab .tab-item .list-item{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px,1fr));
}

.tab-item .list-item li{
    position: relative;
    list-style: none;
    border-bottom: 1px solid #252525;
}

.tab-item .list-item li:last-child{
    border: none;
}

.tab-item .list-item a{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.tab-item .list-item a span{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.tab-item .list-item .icon{
    position: relative;
    width: 25px;
    height: 25px;
}

.tab-item .list-item .icon img{
    filter: invert(100%);
}

.event-wrapper img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.event-wrapper a{
    color: #999;
}

.info-3 .read-more{
    display: flex;
    background: #222;
    font-size: 14px;
    color: #999;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
}

.info-3 .read-more a h3{
    color: white;
}



/* End event-info */
/* 
.event-info{
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    z-index: 2;
}


.event-info .info-2{
    display: grid;
    width: 690px;
    grid-template-rows: auto 48px;;
}

.event-info .info-2 .list-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.info-2 .list-img li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    opacity: 0;
    visibility: hidden; 
    transform: translateX(100%);
}
 
.info-2 .list-img li.active,
.info-2 .list-img li.temp{
    transition: 0.5s ease-in-out;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.info-2 .list-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.info-2 .list-text{
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    background-color: aliceblue;
}

.info-2 .list-text a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(34, 34, 34);
    transition: 0.5s all;
}

.list-text a.active{
    background-color: rgb(23, 23, 23, 0.8);
    color: rgb(243, 194, 88);
}
 */







.event-section{
    position: relative;
    width: 100%;
    padding: 80px 0;
    z-index: 10;
}



.event-section .content, .title{
    position: relative;
    width: 100%;
    height: auto;
}

.title h1{
    padding-bottom: 20px;
    text-align: center;
    animation: titleAnimate 1s ease-in-out;
}

@keyframes titleAnimate{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.content .story-item{
    position: relative;
    /* display: grid;
    grid-template-columns: 50% 50%; */
    display: flex;
    flex-direction: row;
   
}

.content .story-item .event-text, 
.content .story-item .event-img{
    position: relative;
    width: 50%;
    height: 300px;
    padding: 20px 70px;
    transition: 0.5s linear;
}
.content .story-item .event-img .framew{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
     cursor: pointer;
}

.story-item .event-img .framew:hover{
    border: 1px solid rgb(243, 194, 88);
    transition: 1s all;
}

.story-item .event-img .framew:hover img{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

/* 
.content .story-item .event-text, .event-img{
    padding: 20px;
} */

.content .story-item .event-img img{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}


/* .content .story-item .event-img{
    border: 1px solid black;    
} */

.content .story-item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.content .story-item:nth-child(even) .event-img{
    /* padding-right: 50px; */
    border-right: 1px solid #fff; 
}
/* 
.content .story-item:nth-child(even) .event-text{
    padding-left: 50px;
} */

.content .story-item:nth-child(odd) .event-text{
    /* padding-right: 50px; */
    text-align: right;
    border-right: 1px solid #fff; 
}
/* 
.content .story-item:nth-child(odd) .event-img{
    padding-left: 70px;
} */


.story-item .event-text h3{
    font-size: 25px;
    margin: 0 0 15px;
    color: #fff;
    font-weight: 500;
}

.story-item .event-text .date{
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0;
}

/* Start event-topic */

.event-topic{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.event-topic h2.title{
    margin-bottom: 50px;
    display: flex;
    height: 50px;
    align-items: flex-end;
}

.event-topic .title span{
    color: #fff;
    font-size: 20;
    font-weight: 400;
}

.event-topic .title .icon{
    position: relative;
    margin-left: 20;
    width: 40px;
    height: 40px;
}

.event-topic .title .icon img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s all;
    animation: jump 1.5s ease-in-out infinite;
}


.event-topic .list-topic{
    position: relative;
    width: 100%;
    height: 300px;
}

.event-topic .list-topic ul{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
    transition: 0.8s ease-in-out;
}

.event-topic .list-topic li{
    position: relative;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.8s ease-in-out;
}

.event-topic .list-topic li a, 
.event-topic .list-topic li a img,
.event-topic .list-topic li a .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.8s ease-in-out;
}

.event-topic .list-topic .hover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0,0,0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s ease-in-out;
}

.event-topic .list-topic li img{
    transition: 0.8s ease-in-out;
}


.event-topic .list-topic li a:hover img, .hover{
    transform: rotateY(360deg);
    transition: 0.8s ease-in-out;   
}
.event-topic .list-topic li a:hover .hover{
    opacity: 1;
    visibility: visible;
    transition: 0.8s ease-in-out;
}

/* End event-topic */


::-webkit-scrollbar{
    display: none;
}


