
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Evolved</title>
    <link href="../../template/css/web/banlist.css" rel="stylesheet">
    <link href="../../template/css/web/header.css" rel="stylesheet">
    <link href="../../template/css/web/footer.css" rel="stylesheet">
    <link href="../../template/css/web/common.css" rel="stylesheet">
    <link rel="stylesheet" href="../../template/css/font-awesome-6.0.0.min.css">
</head>
<body>
    <div id="main">
    <div class="container">
    
<div class="navbar">
        
    <nav>
        <a href="../../views/web/home.html" class="logo"><img src="../../template/images/logo.png" alt=""></a>
        <ul class="clearfix">
            <li><a class="light" href="../../views/web/home.html">HOME</a></li>
            <li class="active"><a href="" class="light">GAME INFO</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../../views/web/hero.html">Battleground</a></li>
                        <li class="active1"><a href="" class="update">Update</a>  <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="../../views/web/banlist.html">Ban List</a></li>
                                    <li><a href="../../views/web/newskin.html"">New Skin</a></li>
                                    <li><a href="">Event</a></li>
                                </ul>
                            </div> 
                        </li>
                        <li><a href="#">Items</a></li>
                    </ul>
                </div> 
            </li>
            <li><a class="light" href="../../views/web/heros.html">HEROES</a></li>
            <li><a class="light"href="../../views/web/news.html">NEWS</a></li>
            <li><a class="light" href="../admin/admin.html">STORE</a></li>
        </ul>
        <div class="search">
            <input type = "Search" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
    </nav>
    <div class="account">
        <div class="profile">
            <img src="../../template/images/account/acc.jpg" alt="">
        </div>
        <div class="menu">
            <h3>Kinz</h3>
            <ul>
                <li>
                    <img src="../../template/images/account/user.png" alt="">
                    <a href="../../common/web/code/index.html">My Profile</a>
                </li>
                <li>
                    <img src="../../template/images/account/edit.png" alt="">
                    <a href="">Edit Profile</a>
                </li>
                <li>
                    <img src="../../template/images/account/settings.png" alt="">
                    <a href="">Settings</a>
                </li>
                <li>
                    <img src="../../template/images/account/question.png" alt="">
                    <a href="contacts.html">Help</a>
                </li>
                <li>
                    <img src="../../template/images/account/logout.png" alt="">
                    <a href="../../login.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>


        <div class="content">
            <div class="hr1"></div>
            <h1>Notice Regarding Account Punishment on June 69rd!</h1>
            <span class="pubtime">06/09/2021</span>
            <p>The following accounts are punished for extreme behaviors or using illegal programs in matches.</p>
            <table>
                <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                    <tr>
                        <td nowrap="nowrap" style="width:132px;">
                            <strong>In-game Name</strong>
                        </td>
                        <td nowrap="nowrap" style="width:294px;">
                            <strong>Punishment</strong>
                        </td>
                        <td nowrap="nowrap" style="width:185px;">
                            <strong>Reason</strong>
                        </td>
                        <td nowrap="nowrap" style="width:115px;">
                            <strong>Date</strong>
                        </td>
                    </tr>
                                                        <tr>
                                        <td style="width:132px;">
                                            CAPLY                                        </td>
                                        <td nowrap="nowrap">
                                            Permanent Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            EzKеk                                        </td>
                                        <td nowrap="nowrap">
                                            Permanent Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Кu                                        </td>
                                        <td nowrap="nowrap">
                                            Permanent Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            FЕN                                        </td>
                                        <td nowrap="nowrap">
                                            Permanent Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            calouronoob                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            #Almighty                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            우                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            LoveSomeMama                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            MAKJIAPEН                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            BE careful                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Titã キラー                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            H A L E ?                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            UmayLods?!♡                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            3rd KinG                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            cℓiғғ                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Dr.stone                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            ᴸᴷ|℟₤ꊼ                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            ρяℓ|Scøby                                        </td>
                                        <td nowrap="nowrap">
                                            30-Day Ban                                        </td>
                                        <td nowrap="nowrap">
                                            Cheating   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            ЦПвЛС                                        </td>
                                        <td nowrap="nowrap">
                                            1-Day Ban &amp; -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            Intentional Feeding   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            6i6ika                                        </td>
                                        <td nowrap="nowrap">
                                            1-Day Ban &amp; -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            Intentional Feeding   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Aрachi                                        </td>
                                        <td nowrap="nowrap">
                                            1-Day Ban &amp; -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            Intentional Feeding   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Dju.                                        </td>
                                        <td nowrap="nowrap">
                                            1-Day Ban &amp; -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            Intentional Feeding   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            EzkekUeban                                        </td>
                                        <td nowrap="nowrap">
                                            1-Day Ban &amp; -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            Intentional Feeding   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Szpenio                                        </td>
                                        <td nowrap="nowrap">
                                            -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            AFK   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            unborn™                                        </td>
                                        <td nowrap="nowrap">
                                            -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            AFK   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Tang San                                        </td>
                                        <td nowrap="nowrap">
                                            -20 Integrity                                        </td>
                                        <td nowrap="nowrap">
                                            AFK   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Wнîтёsnk                                        </td>
                                        <td nowrap="nowrap">
                                            -10 Integrity &amp; Get Gagged for 3-Day                                        </td>
                                        <td nowrap="nowrap">
                                            Verbal Abuse   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            ☬BUÐÐAৡ☬                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Pause®™                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            Monia;*                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            АНАЛЫЧ                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            igrai                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            келін                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                                    <tr>
                                        <td style="width:132px;">
                                            ‡papa zola                                        </td>
                                        <td nowrap="nowrap">
                                            Warning                                        </td>
                                        <td nowrap="nowrap">
                                            Illegal Avatar   
                                        </td>
                                        <td nowrap="nowrap">
                                            06/09/2021                                        </td>
                                    </tr>
                                                </tbody>
            </table>
        </div>  
    </div>
    <!-- <div class="ads">
        <p style="
            position: absolute;
            font-size: 3rem;
                font-weight: 800;
                text-decoration: none;
                color: #fff;
                top: -30px;
                right: -15px;
                ">&times;</p>
    </div> -->

    <div class="footer">
        <p> Copyright © 2017-2021 Heroes Evolved All Rights Reserved.</p>
        <p><a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">FAQ</a> | 
            <a href="#">Contact Us</a> | <a href="#">Forum</a>
        </p>
</div>
     
    </div>
</body>
</html>