

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heros Evolved</title>
  <link rel="stylesheet" href="../../template/css/web/contacts.css">
  <link rel="stylesheet" href="../../template/css/googleapis.css">
  <link rel="stylesheet" href="../../template/css/font-awesome5.15.3.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Send us a Message</header>
    <form action="#" method="POST">
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="username" placeholder="Enter your name" autocomplete="off" value="Kinz">
          <i class='fas fa-user'></i>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Enter your email" autocomplete="off">
          <i class='fas fa-envelope'></i>
        </div>
      </div>
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="phone" placeholder="Enter your phone" autocomplete="off">
          <i class='fas fa-phone-alt'></i>
        </div>
        <div class="field">
          <input type="text" name="website" placeholder="Enter your website" autocomplete="off" value="localhost.heroEvolved.com">
          <i class='fas fa-globe'></i>
        </div>
      </div>
      <div class="message">
        <textarea placeholder="Write your message" name="message"></textarea>
        <i class="material-icons">message</i>
      </div>
      <div class="list-button">
        <div class="button-area">
          <button type="submit">Send Message</button>
          <span></span>
        </div>
        <div class="button-area">
          <a href="home.html">Back</button>
          <span></span>
        </div>
      </div>
    </form>
  </div>
  <script src="script.js"></script>
</body>
</html>