
<div class="navbar">
        
    <nav>
        <a href="../../views/web/home.html" class="logo"><img src="../../template/images/logo.png" alt=""></a>
        <ul class="clearfix">
            <li><a class="light" href="../../views/web/home.html">HOME</a></li>
            <li class="active"><a href="" class="light">GAME INFO</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Battleground</a></li>
                        <li class="active1"><a href="" class="update">Update</a>  <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="../../views/web/banlist.html">Ban List</a></li>
                                    <li><a href="../../views/web/newskin.html"">New Skin</a></li>
                                    <li><a href="">Event</a></li>
                                </ul>
                            </div> 
                        </li>
                        <li><a href="#">Items</a></li>
                    </ul>
                </div> 
            </li>
            <li><a class="light" href="../../views/web/heros.html">HEROES</a></li>
            <li><a class="light"href="../../views/web/news.html">NEWS</a></li>
            <li><a class="light" href="../../views/web/store.html">STORE</a></li>
        </ul>
        <div class="search">
            <input type = "Search" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
    </nav>
    <div class="account">
        <div class="profile">
            <img src="../../template/images/account/acc.jpg" alt="">
        </div>
        <div class="menu">
            <h3>Kinz</h3>
            <ul>
                <li>
                    <img src="../../template/images/account/user.png" alt="">
                    <a href="../../common/web/code/index.html">My Profile</a>
                </li>
                <li>
                    <img src="../../template/images/account/edit.png" alt="">
                    <a href="">Edit Profile</a>
                </li>
                <li>
                    <img src="../../template/images/account/settings.png" alt="">
                    <a href="">Settings</a>
                </li>
                <li>
                    <img src="../../template/images/account/question.png" alt="">
                    <a href="contacts.html">Help</a>
                </li>
                <li>
                    <img src="../../template/images/account/logout.png" alt="">
                    <a href="../../views/login/login.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>
