
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Evolved</title>
    <link href="../../template/css/web/heros.css" rel="stylesheet">
    <link href="../../template/css/web/header.css" rel="stylesheet">
    <link href="../../template/css/web/footer.css" rel="stylesheet">
    <link href="../../template/css/web/common.css" rel="stylesheet">
    <link rel="stylesheet" href="../../template/css/all.css">
    <link rel="stylesheet" href="../../template/css/brands.css">
    <link rel="stylesheet" href="../../template/css/fontawesome.min.css">
</head>
<body>
    <div id="main">
        <div class="container">
            
<div class="navbar">
        
    <nav>
        <a href="../../views/web/home.html" class="logo"><img src="../../template/images/logo.png" alt=""></a>
        <ul class="clearfix">
            <li><a class="light" href="../../views/web/home.html">HOME</a></li>
            <li class="active"><a href="" class="light">GAME INFO</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="../../views/web/hero.html">Battleground</a></li>
                        <li class="active1"><a href="" class="update">Update</a>  <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="../../views/web/banlist.html">Ban List</a></li>
                                    <li><a href="../../views/web/newskin.html"">New Skin</a></li>
                                    <li><a href="">Event</a></li>
                                </ul>
                            </div> 
                        </li>
                        <li><a href="#">Items</a></li>
                    </ul>
                </div> 
            </li>
            <li><a class="light" href="../../views/web/heros.html">HEROES</a></li>
            <li><a class="light"href="../../views/web/news.html">NEWS</a></li>
            <li><a class="light" href="../admin/admin.html">STORE</a></li>
        </ul>
        <div class="search">
            <input type = "Search" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
    </nav>
    <div class="account">
        <div class="profile">
            <img src="../../template/images/account/acc.jpg" alt="">
        </div>
        <div class="menu">
            <h3>Kinz</h3>
            <ul>
                <li>
                    <img src="../../template/images/account/user.png" alt="">
                    <a href="../../common/web/code/index.html">My Profile</a>
                </li>
                <li>
                    <img src="../../template/images/account/edit.png" alt="">
                    <a href="">Edit Profile</a>
                </li>
                <li>
                    <img src="../../template/images/account/settings.png" alt="">
                    <a href="">Settings</a>
                </li>
                <li>
                    <img src="../../template/images/account/question.png" alt="">
                    <a href="contacts.html">Help</a>
                </li>
                <li>
                    <img src="../../template/images/account/logout.png" alt="">
                    <a href="../../login.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>


            <div class="content">
                <div class="heronav">
                    <a href="#" class="check on" date-filter="all">ALL</a>
                    <a href="#" class="check" date-filter="strength" >STRENGTH</a>
                    <a href="#" class="check" date-filter="agility" >AGILITY</a>
                    <a href="#" class="check" date-filter="intelligence" >INTELLIGENCE</a>
                </div>

                <div class="herotype">
                    <li><input type="checkbox" value="MELEE"> Melee</li>
                    <li><input type="checkbox" value="RANGED"> Ranged</li>
                    <li><input type="checkbox" value="NUKER"> Nuker</li>
                    <li><input type="checkbox" value="DURABLE"> Durable</li>
                    <li><input type="checkbox" value="DISABLER"> Disabler</li>
                    <li><input type="checkbox" value="GANKER"> Ganker</li>
                    <li><input type="checkbox" value="CARRY"> Carry</li>
                    <li><input type="checkbox" value="PUSHER"> Pusher</li>
                </div>

                <div class="wrapper">
                    <ul class="hero-list">
                                                            
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/1.jpg " alt="name">
                            <br> Zoe 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/2.jpg " alt="name">
                            <br> Murry 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/3.jpg " alt="name">
                            <br> Omega 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/4.jpg " alt="name">
                            <br> Hades 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/5.jpg " alt="name">
                            <br> Heradias 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/6.jpg " alt="name">
                            <br> Titan 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/7.jpg " alt="name">
                            <br> Di Renjie 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/8.jpg " alt="name">
                            <br> Mousia 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/9.jpg " alt="name">
                            <br> Li Bai 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/10.jpg " alt="name">
                            <br> Xia Ling 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/11.jpg " alt="name">
                            <br> Young Yanbing 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/12.jpg " alt="name">
                            <br> Yanbing Cao 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/13.jpg " alt="name">
                            <br> Methos 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/14.jpg " alt="name">
                            <br> Dragon 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/15.jpg " alt="name">
                            <br> Poseidon 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/16.jpg " alt="name">
                            <br> Odin 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/17.jpg " alt="name">
                            <br> Mikio 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/18.jpg " alt="name">
                            <br> Cleopatra 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/19.jpg " alt="name">
                            <br> Lu Bu 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/20.jpg " alt="name">
                            <br> Solus 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/21.jpg " alt="name">
                            <br> Nightshade 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/22.jpg " alt="name">
                            <br> Flavia 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/23.jpg " alt="name">
                            <br> Lorelei 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/24.jpg " alt="name">
                            <br> Daimon 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/25.jpg " alt="name">
                            <br> Chronos 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/26.jpg " alt="name">
                            <br> Beiluo Shimen 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/27.jpg " alt="name">
                            <br> Brady 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/28.jpg " alt="name">
                            <br> Tiamat 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/29.jpg " alt="name">
                            <br> Tartorus 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/30.jpg " alt="name">
                            <br> Xiahou Dun 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/31.jpg " alt="name">
                            <br> Asura 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/32.jpg " alt="name">
                            <br> Lin Lin 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/33.jpg " alt="name">
                            <br> Dr.Madd 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/34.jpg " alt="name">
                            <br> Leonidas 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/35.jpg " alt="name">
                            <br> Fleur 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/36.jpg " alt="name">
                            <br> Fawna 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/37.jpg " alt="name">
                            <br> Raker 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/38.jpg " alt="name">
                            <br> Galahad 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/39.jpg " alt="name">
                            <br> Fumiko 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/40.jpg " alt="name">
                            <br> Fusilia 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/41.jpg " alt="name">
                            <br> Chronia 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/42.jpg " alt="name">
                            <br> Elvira 
                        </a></li>

                                                        
                        <li class="agility">
                            <a href="hero.html"><img src="../../template/images/43.jpg " alt="name">
                            <br> Psion 
                        </a></li>

                                                        
                        <li class="strength">
                            <a href="hero.html"><img src="../../template/images/44.jpg " alt="name">
                            <br> Condor 
                        </a></li>

                                                        
                        <li class="intelligence">
                            <a href="hero.html"><img src="../../template/images/45.jpg " alt="name">
                            <br> Celestius 
                        </a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <p> Copyright © 2017-2021 Heroes Evolved All Rights Reserved.</p>
            <p><a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">FAQ</a> | 
                <a href="#">Contact Us</a> | <a href="#">Forum</a>
            </p>
    </div>
    </div>

    
    

    <script src="../../template/js/jquery-3.6.0.js "></script>


    <script type="text/javascript">
        $(function(){
            $('.check').click(function(){
                const value = $(this).attr('date-filter');
                if(value == 'all'){
                    $('li').show();
                }else{
                    $('.hero-list li').not('.' + value).hide();
                    $('.hero-list li').filter('.' + value).show();
                }
                $(this).addClass('on').siblings().removeClass();
            })
        })
    </script>
</body>
</html>